#{extends 'main.html' /}
#{set title:'Home' /}

<div id='left';>
Würfel
</div>
<div id='right';>
<table border 1>
	<tr>
    	<th>Spieler</th>
    	<th>Spieler 1</th>
    	<th>Spieler 2</th>
  		<th>Spieler 3</th>
    	<th>Spieler 4</th>
  	</tr>
  	<tr>
    	<td>1er</td>
    	<td></td>
    	<td></td>
    	<td></td>
    	<td></td>
  	</tr>
  		<tr>
    	<td>2er</td>
    	<td></td>
    	<td></td>
    	<td></td>
    	<td></td>
  	</tr>
  		<tr>
    	<td>3er</td>
    	<td></td>
    	<td></td>
    	<td></td>
    	<td></td>
  	</tr>
  		<tr>
    	<td>4er</td>
    	<td></td>
    	<td></td>
    	<td></td>
    	<td></td>
  	</tr>
  		<tr>
    	<td>5er</td>
    	<td></td>
    	<td></td>
    	<td></td>
    	<td></td>
  	</tr>
  		<tr>
    	<td>6er</td>
    	<td></td>
    	<td></td>
    	<td></td>
    	<td></td>
  	</tr>
  		<tr>
    	<td>Gesamt</td>
    	<td></td>
    	<td></td>
    	<td></td>
    	<td></td>
  	</tr>
  		<tr>
    	<td>Bonus bei >63</td>
    	<td></td>
    	<td></td>
    	<td></td>
    	<td></td>
  	</tr>
  		<tr>
    	<td>Gesamt oberer Teil</td>
    	<td></td>
    	<td></td>
    	<td></td>
    	<td></td>
  	</tr>
  		<tr>
    	<td>Dreierpasch (alle W&uuml;rfel)</td>
    	<td></td>
    	<td></td>
    	<td></td>
    	<td></td>
  	</tr>
  		<tr>
    	<td>Viererpasch (alle W&uuml;rfel)</td>
    	<td></td>
    	<td></td>
    	<td></td>
    	<td></td>
  	</tr>
  		<tr>
    	<td>Full-House (25 Punkte)</td>
    	<td></td>
    	<td></td>
    	<td></td>
    	<td></td>
  	</tr>
  		<tr>
    	<td>Kleine Strasse (30 Punkte)</td>
    	<td></td>
    	<td></td>
    	<td></td>
    	<td></td>
  	</tr>
  		<tr>
    	<td>Grosse Strasse (40 Punkte)</td>
    	<td></td>
    	<td></td>
    	<td></td>
    	<td></td>
  	</tr>
  		<tr>
    	<td>Kniffel (50 Punkte)</td>
    	<td></td>
    	<td></td>
    	<td></td>
    	<td></td>
  	</tr>
  		<tr>
    	<td>Chance (alle W&uuml;rfel)</td>
    	<td></td>
    	<td></td>
    	<td></td>
    	<td></td>
  	</tr>
  		<tr>
    	<td>Gesamt unterer Teil</td>
    	<td></td>
    	<td></td>
    	<td></td>
    	<td></td>
  	</tr>
  		<tr>
    	<td>Gesamt oberer Teil</td>
    	<td></td>
    	<td></td>
    	<td></td>
    	<td></td>
  	</tr>
  		<tr>
    	<td>Endsumme</td>
    	<td></td>
    	<td></td>
    	<td></td>
    	<td></td>
  	</tr>
</table>
</div>